@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/type' as *;

.heading {
  @include type-style('heading-compact-02');
  color: $text-primary;
  margin-bottom: $spacing-04;
}

.status {
  @include type-style('label-01');
  color: $text-secondary;
  margin-bottom: $spacing-03;
}

.empty {
  @include type-style('body-compact-01');
  color: $text-secondary;
}
